.outerDiv{
    background: #000;
    color: white;
    padding-top:20px ;
    padding-bottom:20px ;}
.nextDiv{
    width: 100%;
    margin-inline:auto;
    padding-inline: 32px;
     @media (width >=768px){
        padding-inline: 64px;
    }
    
}
.h1{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 48px;
    
}
.innerDiv{
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: 32px;
    @media (width >= 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (width >= 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
.compDiv{
    background: rgb(61, 61, 61);
    padding: 24px;
    border-radius: 8px;
    transition: all;
    transition-duration: 300ms;
}
.compDiv:hover{
    scale: 1.05;
}
.image{
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 192px;
    object-fit: fill;
}
.h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.p{
    color: gray;
    margin-bottom: 16px;
}
.a{
    display: inline-block;
    background: #727272;
    border-radius: 15px;
    padding-inline: 16px;
    padding-block: 8px;
}