.outerDiv {
  background: #000;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nextDiv {
  width: 100%;
  margin-inline: auto;
  padding-inline: 32px;
  @media (width >=768px) {
    padding-inline: 64px;
  }
}
.innerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  @media (width >= 768px) {
    flex-direction: row;
    margin-inline-start: 48px;
    margin-inline-end: 48px;
  }
}
.compDiv {
  flex: 1;
  margin-top: 16px;

  @media (width>=768px) {
    margin-bottom: 0;
  }
}
.h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.compDiv2 {
  flex: 1;
  width: 100%;
}
.from {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  width: 70%;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(53, 53, 53);
  border-color: gray;
}
.button {
  color: white;
  background: rgb(75, 209, 75);
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 8px;
}
.innerDiv2 {
  border-top-width: 1px;
  border-color: gray;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (width>=768px) {
    flex-direction: row;
  }
}
.iconsDiv {
  display: flex;
  margin-block: 1px;

  width: 15%;
  justify-content: space-around;
  @media (width>=768px) {
    margin-block: 0px;
  }
}
